body {
    --bs-link-color: #0056b3 !important;
    --bs-link-color-rgb: rgb(0, 86, 179) !important;
    --bs-link-hover-color: #004085 !important;
    --bs-link-hover-color-rgb: rgb(0, 64, 133) !important;
    --bs-body-font-size: 16px;
}

img#logo{
    display: none;
}
.navbar .navbar-brand{
    font-weight: 600;
}

.toc a {
    color: var(--bs-body-color) !important;
}

h2, h3 {
    margin-top: 32px !important;
}

nav#affix ul li a {
    color: var(--bs-body-color) !important;
}

nav#affix h5 {
    display: block !important;
    font-weight: 600!important;
    text-transform: none !important;
    letter-spacing: 0px!important;
    border-bottom: 0!important;
}

.info-app-type {
    color: var(--bs-body-color);
    text-decoration: none;
    font-style: italic;
}
.info-app-type h5 {
    display: none!important;
}


.page-head-tag{
    border-radius: 16px;
    padding: 3px 10px;
    background-color: var(--bs-indigo);
    color: white;
    font-size: 0.75em;
}