body {
    --bs-link-color: #2169EB !important;
    --bs-link-color-rgb: rgb(33, 105, 235) !important;
    --bs-link-hover-color: #004085 !important;
    --bs-link-hover-color-rgb: rgb(0, 64, 133) !important;
    --bs-body-font-size: 16px;
}

a {
    color: var(--bs-link-color-rgb) !important;
}

img#logo {
    display: none;
}

.navbar .navbar-brand {
    font-weight: 600;
}

.toc a {
    color: var(--bs-body-color) !important;
}

.toc li {
    margin: .2em 0 !important;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

blockquote {
    border-width: 0 !important;
    margin: 1.2em 0 2em;
    padding: 0.5em !important;
    display: block;
    background: var(--bs-secondary-bg) !important;
    border-radius: var(--bs-border-radius) !important;
}

blockquote p {
    margin: 0 !important;
}


.toc li.active:not(.expander) {
    background: var(--bs-secondary-bg) !important;
    font-weight: 600;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-weight: 600 !important;
}

h2, h3 {
    margin-top: 32px !important;
}

nav#affix ul li a {
    color: var(--bs-body-color) !important;
}

nav#affix h5 {
    display: block !important;
    font-weight: 600 !important;
    text-transform: none !important;
    letter-spacing: 0px !important;
    border-bottom: 0 !important;
}

.navbar-nav .nav-link {
    border-top: 2px solid transparent !important;
    border-bottom: 2px solid transparent !important;
}

.navbar-nav .nav-link:hover {
    border-bottom: 2px solid var(--bs-navbar-active-color) !important;
}

.navbar-nav .nav-link.active {
    border-bottom: 2px solid var(--bs-navbar-active-color) !important;
}

.alert {
    padding: 10px !important;
}

.alert h5 {
    text-transform: none !important;
}

.alert p {
    margin-bottom: 0 !important;
}

.info-app-type {
    color: var(--bs-body-color);
    text-decoration: none;
    font-style: italic;
}

.info-app-type h5 {
    display: none !important;
}

.applies-to {
    font-style: italic;

}

.page-head-tag {
    border-radius: 16px;
    padding: 3px 10px;
    background-color: var(--bs-gray-600);
    color: white;
    font-size: 0.75em;
}

p code {
    font-size: .875em;
    color: var(--bs-body-color) !important;
    background-color: var(--bs-secondary-bg) !important;
    word-wrap: break-word;
    border-radius: 3px;
    padding: .1em .2em;
}